@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM sans;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10%;
    padding: 5vh 5vw;
    padding-top: 5%;
}
.left{
    padding-left: 5%;
    width: 45%;
    height: 100%;
    /* background-color: red; */
}
.top-part{
    width: 100%;
    height: 45%;
    /* background-color: red; */
}
.top-part h1{
    font-size: 100px;
    line-height: 110px;
}
.bottom-part{
    width: 100%;
    height: 40%;
    margin-top: 15vh;
    /* background-color: yellow; */
}
.col-par{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 2px 20px;
    border-radius: 50px;
}
.col-par h5{
    font-weight: 450;
    font-size: 20px;
    margin-right: .5vw;
}
.col1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: burlywood;
    margin-right: .1vw;
}
.col2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:crimson;
}
.bottom-part h2{
    margin-top: 5.5vh;
    font-size: 30px;
    font-weight: 800;
}
.bottom-part p{
    margin-top: 1vh;
    font-size: 15px;
    font-weight:650;
    width: 60%;
    line-height: 22px;
}
.right{
    margin-top: 10%;
    width: 35%;
    height: 80%;
    /* background-color: rgb(30, 72, 148); */
    
}
.prize-rate{
    width: 100%;
    /* background-color: red; */
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9.4vw 0 1.2vw;
}
.prize-rate h3{
    font-size: 1rem;
}
.rating{
    display: flex;
    align-items: center;
}
.rating h4{
    font-size: 1rem;
    margin-right: .5vw;
}
.rating i{
    color: gold;
}
.right img{
    padding-left: 1vw;
    width: 71%;
    background-size: cover;
 
}
.buy{
    position: absolute;
    top: 40%;
    right: 18%;
    height: 20%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy h5{
    font-size: 18px;
    font-weight: 450;
}
.txt{
    width: fit-content;
    /* background-color:red; */
    height: auto;
    position: absolute;
    top: 70%;
    left: 46.5%;

}
.txt h4{
    font-size: 38px;
    font-weight: 550;
    rotate: -90deg;
}
@media (max-width:600px){
    .main{
       gap: 0%;
       display: flex;
       padding: 5vh 5vw 0vw 5vw;
       padding-top: 5%;
       flex-direction: column;
    }
    .left{
        padding-left: 5%;
        width: 100%;
        height: 50%;
    }
    .top-part h1{
        font-size: 18vw;
        line-height: 12vh;
    }
    .bottom-part{
        margin-top: 6vh;
    }
    
    .col-par h5{
        font-weight: 450;
        font-size: 4vw;
        margin-right: 1vw;
    }
    .col1{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: burlywood;
        margin-right: .5vw;
    }
    
    .bottom-part h2{
        margin-top: 2.5vh;
        font-size: 5vw;
    }
    .bottom-part p{
        font-size: 3vw;
        font-weight:650;
        width: 100%;
        line-height: 2vh;
    }
    .right{
        margin-top: 2%;
        width: 100%;
        height: 49%;
    }
    .prize-rate{
        padding: 0 10.2%;
    }
    .prize-rate h3{
        font-size: 4.5vw;
    }
    .rating h4{
        font-size: 3.5vw;
        margin-right: 0vw;
    }
    .right img{
        padding-left: 10vw;
        width: 90%;
        height: 90%;
        background-size: cover;
     
    }
    .buy{
        position: absolute;
        top: 65%;
        left: 72%;
        height: 90px;
        width: 90px;
        background-color: rgba(0, 0, 0, 0.863);
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buy h5{
        font-size: 3vw;
        font-weight: 450;
    }
    .txt{
            width:fit-content;
            height: 20%;
            position: absolute;
            top: 75%;
            left: -11.5%;
            /* background-color: red; */
        
        }
    .txt h4{
        font-size: 5vw;
        font-weight: 550;
        rotate: -90deg;
    }
}